NHibernate/MvcApplication1/Web References/WcfCepService/Cep.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServicoCep" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServicoCep" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cep.Endereco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErroIndicador" type="xs:int" />
      <xs:element minOccurs="0" name="Logradouro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Municipio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoLogradouro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uf" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cep.Endereco" nillable="true" type="tns:Cep.Endereco" />
</xs:schema>