NHibernate/MvcApplication1/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53884/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfCepService" />
  <xs:element name="ObterCep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cep" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterCepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfCepService" minOccurs="0" name="ObterCepResult" nillable="true" type="q1:Endereco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>